<div class="booyah-box col-10 offset-1">
  <h1> <%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br /><br />
  <p><%= @place.description %></p>


  <% if @place.latitude.present? && @place.longitude.present? %>
    <script>
      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5XmSS0UIDjNpfE9QadZCfspEecqfbfnI&callback=initMap">
    </script>
    <div id="map"></div>
  <% end %>
</div>


<div class="float-right offset-2">
  <% if current_user && current_user == @place.user %>
    <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
    <%= link_to 'Destroy', place_path(@place), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
  <% end %>
</div>

<div class="clear"></div>

<% @place.photos.each do |photo| %>
  <div class="booyah-box">
    <%= image_tag photo.picture %>
	 	<%= photo.caption %>
  </div>
<% end %>


<!-- comment Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add Comment</h4>
      </div>
        <%= render 'comments/new' %>
    </div>
  </div>
</div>

<!-- photo comment Modal -->
<div class="modal fade" id="myModalphoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add photo</h4>
      </div>
      <%= render 'photos/new' %>
    </div>
  </div>
</div>

<div class="col-10 offset-1">
  <h1 class="float-left">Comments</h1>
  
  <!-- Button trigger modal -->
  <div class="clear"></div>
  <button type="button" class="float-left btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Add a Comment
  </button>

  <!-- photo Button trigger modal -->
  <button type="button" class="float-right btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalphoto">
    Add a Photo
  </button>
</div>

<div class="clear"></div>

<div class="row">
  <% @place.comments.each do |comment| %>
  <div class="col-12 col-sm-6">
    <blockquote>
      <% if comment.humanized_rating.present? %>
      <b><%= comment.humanized_rating %></b> <br />
      <% end %>
      <%= comment.message %><br />
      <small><%= comment.user.email %></small>
    </blockquote>
  </div>
  <% end %>
</div>